<div class="nav-menu">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <span class="icon">🏠</span> خانه
    </NavLink>
    <NavLink class="nav-link" href="/tables">
        <span class="icon">📋</span> جداول
    </NavLink>
</div>